// VARIABLES
$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$cuaternary-color: #FA9500;
$primary-text-color: #7C6A0A;
$secundary-text-color: #E86424;
$font-stack: "IBM Plex Sans", sans-serif;

@mixin flexCenter ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: $primary-color;
    font-family: $font-stack;
}

// HEADER
.header {
    padding: 2rem 2rem;
}
.header__navbar {
    width: 100%;
}
.nav-menu {
    @include flexCenter(row, space-between, center);
    .header-title {
        font-size: 3rem;
        font-weight: 400;
        color: $primary-text-color;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
    }
}
.buttons {
    display: none;
}

// MAIN
.main {
    padding: 0 2rem;
}
// MAIN SECTION 1
.main-section-1 {
    @include flexCenter(column, flex-start, center);
    row-gap: 2rem;
    width: 100%;
}
.main-section-1_info {
    @include flexCenter(column, flex-start, center );
    row-gap: 2rem;
    width: 100%;
    order: 2;
    .main-1-text {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        h1 {
            font-size: 2rem;
            font-weight: 5600;
            color: $primary-text-color;
        }
        p {
            font-size: 1.6rem;
            color: $primary-text-color;
        }
    }
    button {
        font-weight: 700;
        border: none;
        width: 16rem;
        height: 4.6rem;
        color: white;
        background-color: $cuaternary-color;
        border-radius: 3.5rem;
        cursor: pointer;
        &:hover {
            border: 3px solid $cuaternary-color;
            background-color: $primary-color;
            color: $cuaternary-color;
        }
    }
}
.main-section-1_img {
    @include flexCenter(row, center, center);
    width: 100%;
    border-radius: 1.8rem;
    overflow: hidden;
    order: 1;
    img{
        width: 100%;
    }
}

// MAIN SECTION 2
.main-section-2 {
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    row-gap: 4rem;
    width: 100%;
}
.main-section-2_healt, .main-section-2_home {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.products-title {
    font-size: 2.2rem;
    font-weight: 400;
    color: $primary-text-color;
}
.products {
    display: flex;
    column-gap: 3rem;
    row-gap: 3rem;
    padding-bottom: 1.4rem;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    &::-webkit-scrollbar {
        background-color: $secundary-color;
        height: 0.8rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $cuaternary-color;
    }
}
.product {
    @include flexCenter(column, flex-start , center);
    position: relative;
    flex: none;
    row-gap: 1.4rem;
    padding: 2.8rem 2.2rem;
    width: 15rem;
    color: $primary-text-color;
    background-color: $secundary-color;
    border-radius: 0.8rem;
    scroll-snap-align: center;
    .add-to-cart {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        width: 1.8rem;
        color: $primary-text-color;
        cursor: pointer;
        & path {
            stroke: currentColor;
        }
        &:hover {
            fill: currentColor;
            transform: scale(1.3);
            transition-duration: 0.3s;
        }
    }
    .product-image {
        width: 100%;
        height: 15rem;
        border-radius: 0.8rem;
    }
    h3 {
        font-size: 1.3rem;
        font-weight: 500;
    }
}
.product-home {
    @extend .product;
    background-color: $tertiary-color;
    color: white;
    .add-to-cart {
        color: white;
    }
}

//MAIN SECTION 3
//INFO
.main-section-3 {
    @include flexCenter(column, flex-start, center);
    row-gap: 4rem;
    &-title {
        font-size: 2.2rem;
        font-weight: 500;
        color: $primary-text-color
    }
}
.info {
    @include flexCenter( column, none, none);
    row-gap: 6rem;
    width: 100%;
    &-description {
        @include flexCenter(column, flex-start, center);
        div {
            @include flexCenter(column, flex-start, center);
            row-gap: 2rem;
            img {
                width: 10rem;
            }
            p {
                text-align: center;
                width: 20rem;
                font-size: 1.6rem;
                font-weight: 500;
                color: $secundary-text-color;
            }
        }
    }
}
//GALLERY
.gallery {
    @include flexCenter(column, flex-start, start);
    row-gap: 3rem;
    width: 100%;
}
.gallery-images {
    @include flexCenter(column, flex-start, center);
    row-gap: 4rem;
    width: 100%;
    img {
        width: 25rem;
        height: 30rem;
        object-fit: cover;
        border-radius: 1rem;
        &:hover {
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }
}

 //LOCATION
 .location {
    @include flexCenter(column, flex-start, start);
    row-gap: 3rem;
    width: 100%;
}
.location-content {
    @include flexCenter(column, flex-start, start);
    row-gap: 2rem;
    width: 100%;
    img {
        width: 100%;
    }
}
.location-text {
    @include flexCenter(column, flex-start, start);
    row-gap: 1rem;
    color: $secundary-text-color;
    h3 {
        font-size: 2rem;
        font-weight: 400;
    }
    p {
        font-size: 1.4rem;
    }
}

//FOOTER
.footer {
    @include flexCenter(column, start, start);
    row-gap: 4rem;
    padding: 2rem;
    margin-top: 10rem;
    width: 100%;
    background-color: $cuaternary-color;
}
.footer-careers {
    @include flexCenter(column, start, start);
    row-gap: 1.4rem;
    color: white;
    font-size: 1.6rem;
    .footer-logo {
        font-size: 2.4rem;
        font-weight: 400;
        &:hover {
            cursor: pointer;
            text-decoration: underline
        }
    }
    .careers {
        @include flexCenter(column, start, start);
        row-gap: 1.8rem;
        list-style: none;
        & li:hover {
            cursor: pointer;
            text-decoration: underline
        }
    }
}
.footer-social-media {
    @include flexCenter(row, center, center);
    column-gap: 4rem;
    width: 100%;
    img {
        width: 3rem;
        cursor: pointer;
    }
}



// RESPOSIVE
//TABLET
@media (min-width: 768px) {
    // HEADER
    .header {
        padding: 1rem 4rem 6rem 4rem;
    }
    .header__navbar {
        display: flex;
        justify-content: space-between;
    }
    .nav-menu {
        .header-title {
            font-size: 4rem;
        }
        img {
            display: none;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        column-gap: 4rem;
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    // MAIN
    .main {
        padding: 0 4rem;
    }
    // MAIN SECTION 1
    .main-section-1 {
        @include flexCenter(row, space-between, flex-start);
        column-gap: 2rem;
    }
    .main-section-1_info {
        align-items: flex-start;
        row-gap: 8rem;
        width: 50%;
        order: 1;
        .main-1-text {
            h1 {
                font-size: 3.2rem;
            }
            p {
                font-size: 1.8rem;
            }
        }
    }
    .main-section-1_img {
        width: 30rem;
        height: 40rem;
    }

    //MAIN SECTION 3
    //INFO
    .info-description {
         @include flexCenter(row, center, start);
        column-gap: 8rem;
    }

    //GALLERY
    .gallery-images {
        @include flexCenter(row, center, start);
        column-gap: 3rem;
        width: 100%;
        img {
            width: 20rem;
            height: 26rem;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

     //LOCATION
     .location-text {
        h3 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.6rem;
        }
    }

    //FOOTER
    .footer {
        padding: 2rem 4rem;
    }
}

//DESKTOP
@media (min-width: 1024px) {
    .nav-menu {
        .header-title {
            font-size: 4.4rem;
        }
    }

    // MAIN
    .main-section-1_info {
        align-items: flex-start;
        row-gap: 8rem;
        width: 45%;
        order: 1;
        .main-1-text {
            h1 {
                font-size: 3.4rem;
            }
            p {
                font-size: 2rem;
            }
        }
        button {
            font-size: 1.8rem;
            width: 20rem;
            height: 5.4rem;
        }
    }
    .main-section-1_img {
        width: 40rem;
        height: 50rem;
    }

    // MAIN SECTION 2
    .products-title {
        font-size: 2.8rem;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(3, 20rem);
        justify-content: center;
        overflow-x: hidden;
        column-gap: 8rem;
        row-gap: 5rem;
    }
    .product {
        padding: 3rem 2.8rem;
        width: 22rem;
        .add-to-cart {
            position: absolute;
            top: 0.8rem;
            right: 0.8rem;
            width: 2.4rem;
        }
        .product-image {
            height: 23rem;
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 500;
        }
        p {
            font-size: 1.2rem
        }
    }

    //MAIN SECTION 3
    //INFO
    .main-section-3-title {
        font-size: 2.8rem;
    }
    .info {
        @include flexCenter( column, none, none);
        row-gap: 6rem;
        width: 100%;
        &-description {
            @include flexCenter(row, center, start);
            div {
                @include flexCenter(row, center, center);
                column-gap: 1rem;
                img {
                    width: 12rem;
                }
                p {
                    width: 22rem;
                    font-size: 1.8rem;
                }
            }
        }
    }

    //GALLERY
    .gallery {
        row-gap: 6rem;
    }
    .gallery-images {
        column-gap: 4rem;
        img {
            width: 25rem;
            height: 32rem;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

}



